<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="login" verbose="1">
<test name="e2e_tests">
    <packages>
        <package name="com.openenglish.login"/>
        <package name="com.openenglish.login.fields_validation"/>
        <package name="com.openenglish.login.restablecer_contrasena"/>
        <package name="com.openenglish.login.restablecer_contrasena.fields_validation"/>
    </packages>
</test>
</suite>
